/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-family: "Whitney", sans-serif;
    font-size: 100%;
}

li {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

/* COMMON */
.container {
    width: 70%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

main section:nth-child(even) {
    background-color: #f6f6f6;
}

.bt {
    border-radius: 25px;
}

.bt-white {
    background-color: white;
    color: black;
}

.bt-dark {
    color: white;
    background-color: #23272a;
}

.bt-small {
    padding: .7em 1em;
}

.bt-large {
    padding: 1em 2em;
}

.title {
    font-size: 3em;
}

.text {
    font-size: 1.2em;
}

/* HEADER */
header {
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    background-color: #255ee9;
}

/* columns */
.col-logo, .col-signin {
    width: 15%;
    float: left;
}

.col-logo img{
    vertical-align: middle;
    height: 35px;
}

.col-nav {
    width: 70%;
    float: left;
}

nav div {
    text-align: center;
}



header nav li {
    display: inline-block;
    margin: 0 1em;
    color: white;
}

/* JUMBOTRON */
.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7em 0;
    color: white;
}

.jumbo-content {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.jumbo-content .jumbo-title {
    font-size: 4em;
}

.jumbo-content p {
    margin-top: 2em;
    line-height: 1.7em;
}

.jumbo-bt a {
    margin: 2em 1em;
    display: inline-block;
}

.jumbo-bt .arrow {
    font-size: 1.2em;
}

/* MAIN */
/* section */
.main-section {
    padding: 9em 0;
}
.col-img {
    width: 60%;
    float: left;
}

.col-text {
    width: 40%;
    float: left;
    padding: 1.7em 1.5em;
}

.col-text.pad-left {
    padding-left: 7em;
}

.col-text.pad-right {
    padding-right: 7em;
}

.col-text p{
    margin-top: 2em;
    line-height: 1.7em;
}

/* FOOTER */
