/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-family: "Whitney", sans-serif;
}

li {
    list-style: none;
    text-decoration: none;
}